@id("allow_one")
permit(
  principal is gateway::Workload,
  action == gateway::Action::"GET",
  resource is gateway::HTTP_Request
)
when {
    principal has access_token.scope &&
    principal.access_token.scope.contains("profile")
};